* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("ttf");
}

body {
  font-family: "Inter", sans-serif;
  color: #253347;
}

img {
  max-width: 100%;
}

/* Typography */

h1 {
  font-size: 3rem;
  margin: 2rem;
}

h2 {
  font-size: 2rem;
  margin-block-end: 1em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

p {
  line-height: 1.5;
  color: #5e6e85;
}

/* Layout */

.top .content {
  background: rgb(214, 230, 254);
  background: linear-gradient(
    300deg,
    rgba(214, 230, 254, 1) 0%,
    rgba(214, 252, 254, 0) 100%
  );
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  padding: 2em 1.5em 13.56em;
  text-align: center;
}

.calc-box {
  background-color: #fff;
  padding: 1.5em;
  width: 87.46%;
  margin: -200px auto 4.5em;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 25%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

fieldset {
  border: none;
}

.metric-box {
  display: flex;
  gap: 1.5em;
  justify-content: space-between;
}

.metric-box label {
  display: grid;
  gap: 1.125em;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 700;
  line-height: 1.1;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #d8e2e7;
  width: 2rem;
  height: 2rem;
  border: 1px solid #d8e2e7;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="radio"]:checked {
  background-color: rgba(52, 95, 246, 15%);
  border: none;
}

input[type="radio"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1rem 1rem #345ff6;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.measures-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.measures-box div {
  position: relative;
}

.measures-box label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5e6e85;
  margin-block-end: 0.5em;
}

.measures-box input {
  width: 100%;
  height: 69px;
  border-radius: 12px;
  border: 1px solid #d8e2e7;
  outline: none;
  color: #253347;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1em;
  font-weight: 700;
}

.measure-unit {
  color: #345ff6;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  right: 5%;
  top: 68.5%;
  transform: translate(-5%, -68.5%);
}

.results {
  background-color: #345ff6;
  border-radius: 16px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.results * {
  color: #fff;
}

#result {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.results_message p {
  margin: 0;
}

.results_message p span {
  font-weight: 700;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 4.5em;
}

.middle_upper .content {
  padding: 0 1.5em;
}

.middle_lower {
  padding: 3.5em 1.5em;
  display: grid;
  gap: 2.5em;
}

.img-man-eating {
  margin-block-end: 3em;
}

.tip {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5em;
}
